/* --------------------- Search bar Component -------------------- */
/* Global Input Bar: Login & Register Form */
.input-bar {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    border-radius: var(--img-radius);
    transition: var(--duration);

    input {
        padding-left: 45px;
        border-color: var(--blue-color);
        background-color: var(--bg-color);
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        background-color: var(--blue-color);
        color: var(--btn-color);
        border-color: var(--blue-color);
        border-radius: var(--img-radius) 0 0 var(--img-radius);
    }
}

.input-bar:hover {
    box-shadow: 0 0 5px var(--blue-color);
}

/* Global Search Bar: Navbar Search */
.search-bar {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    border-radius: var(--img-radius);
    transition: var(--duration);

    button {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        background-color: var(--sec-color);
        color: var(--btn-color);
        border-radius: 0 var(--img-radius) var(--img-radius) 0;
    }
}

.search-bar:hover {
    box-shadow: 0 0 5px var(--sec-color);
}

/* Secondary Search Bar: History & Wishlist Search */
.search-sec-bar {
    max-width: 250px;
    margin: 0;

    input {
        border: none;
        border-bottom: var(--sec-color) solid 2px;
        padding-left: 45px;
        padding-top: 7px;
    }

    button {
        left: 0;
        right: auto;
        border-width: 2px;
        border-radius: var(--img-radius) 0 0 var(--img-radius);
    }
}

/* ------------------- End Search bar Component ------------------ */

/* ------------------------ List Component ----------------------- */
/* Global List Styling */
.list {

    /* Global List Items */
    li {
        list-style: none;
        padding: 3px 15px;
    }

    /* Center List Expand Button: Homepage History and Wishlist preview */
    .list-expand {
        a {
            margin: 0 auto;
            display: block;
            width: fit-content;
        }
    }

    /* Main and Sub headers in List: Main Side Bar Navigation and Content Table */
    .main-head {
        font-weight: bold;
        // font-size: 1.2rem;
    }

    .sub-head {
        font-weight: normal;
        // font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    /* List View: History & Wishlist */
    .list-view {
        display: grid;
        grid-template-columns: 25% 75%;
        padding: 0 5px 10px;
        grid-gap: 10px;
        border-bottom: var(--sec-color) solid 1px;
        max-width: 500px;

        /* Homapage History and Wishlist */
        img.side-view {
            width: 100%;
            height: 80px;
            border-radius: var(--img-radius);
        }

        /* History and Wishlist Page*/
        img.main-view {
            width: 100%;
            height: 85px;
            border-radius: var(--img-radius);
        }

        /* Global List view details */
        .details {
            p {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 80%;

                /* Bold 'By: '*/
                span {
                    font-weight: bold;
                }
            }

            /* Book Title */
            .title {
                font-weight: bold;
                font-size: 1.2rem;
                margin-bottom: 10px;
            }
        }
    }

    li:last-of-type .list-view {
        border-bottom: none;
    }
}

/* ---------------------- End List Component --------------------- */