/* ----------------- Variables & global Settings ----------------- */
:root {
    // --bg-color: #fff;
    // --sec-color: #ddd;
    // --text-color: #000;

    /* Light Mode */
    --bg-color: #F1F6F9;
    --sec-color: #9BA4B4;
    --text-color: #14274E;
    --btn-color: #fff;

    /* Dark Mode */
    // --bg-color: #242424;
    // --sec-color: #2B2B2B;
    // // --text-color: #9BA4B4;
    // --text-color: #ddd;
    // --btn-color: #fff;

    // --bg-color: #333533;
    // --sec-color: #000;
    // --text-color: #ddd;
    // --btn-color: #fff;

    // --blue-color: #0abab5;

    /* Buttons and Input Fields Colors */
    --blue-color: #0d6efd;
    --green-color: #28a745;
    --red-color: #dc3545;
    --yellow-color: #ffc107;

    --img-radius: 10px;
    --block-radius: 20px;
    --duration: 0.3s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--sec-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
}

.fixed-block,
.preview {
    background-color: var(--bg-color);
    padding: 20px;
    overflow: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.preview::-webkit-scrollbar,
.fixed-block::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

/* Horizontal Line: Homepage Secondary Side Bar */
.hr {
    width: 100%;
    background-color: var(--sec-color);
    height: 3px;
    margin: 20px 0;
}

.rtl {
    direction: rtl;
}

/* --------------- End Variables & global Settings --------------- */

/* -------------------------- Buttons ---------------------------- */
/* Start Global Buttons */
.btn {
    background-color: var(--bg-color);
    outline: none;
    border: none;
    border-radius: var(--img-radius);
    color: var(--btn-color);
    padding: 10px 15px;
    text-decoration: none;
    transition: var(--duration);
    font-size: 80%;

    i {
        padding-right: 10px;
    }
}

.btn:hover {
    scale: 1.05;
}

/* Icon Buttons: Close and Open Side Bars */
.btn-icon {
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 20px;
    border-radius: var(--block-radius);
    background-color: transparent;

    i {
        padding: 0;
    }
}

/* List Button: Main side Bar items */
.btn-list {
    color: var(--text-color);
    font-size: 100%;
    padding: 5px 0;
}

/* Start Primary Buttons */
.btn-blue {
    background-color: var(--blue-color);
    border: var(--blue-color) solid 2px;

}

.btn-green {
    background-color: var(--green-color);
    border: var(--green-color) solid 2px;
}

.btn-red {
    background-color: var(--red-color);
    border: var(--red-color) solid 2px;
}

/* Start Secondary Buttons */
.btn-sec-blue {
    color: var(--blue-color);
    border: var(--blue-color) solid 2px;
}

.btn-sec-green {
    color: var(--green-color);
    border: var(--green-color) solid 2px;
}

.btn-sec-red {
    color: var(--red-color);
    border: var(--red-color) solid 2px;
}

/* Start Secondary Buttons hover Effect */
.btn-sec-blue:hover {
    background-color: var(--blue-color);
    color: var(--btn-color);
}

.btn-sec-green:hover {
    background-color: var(--green-color);
    color: var(--btn-color);
}

.btn-sec-red:hover {
    background-color: var(--red-color);
    color: var(--btn-color);
}

/* ------------------------ End Buttons -------------------------- */

/* --------------------------- Inputs ---------------------------- */
/* Global Input Field */
.input {
    border: var(--sec-color) solid 3px;
    border-radius: var(--img-radius);
    background-color: var(--bg-color);
    color: var(--text-color);
    outline: none;
    padding: 5px 10px;
    line-height: 1.5em;
    width: 100%;
    font-size: 80%;
}

.input[type=date],
textarea.input {
    font-size: 100%;
}

.input:hover {
    box-shadow: 0 0 5px var(--sec-color);
}

/* ------------------------- End Inputs -------------------------- */

/* ------------------------ Text Classes ------------------------- */
.header {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* ---------------------- End Text Classes ----------------------- */