/* --------------------------  Components ------------------------ */
/* Global List Styleing */
/* Global List of books: override grid-template-columns*/
.book-list {
  display: grid;
  grid-template-columns: max-content auto max-content max-content max-content;
}
.book-list div {
  padding: 10px;
  border-bottom: var(--sec-color) solid 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.book-list .head {
  font-weight: bold;
  border-bottom: var(--sec-color) solid 2px;
}
.book-list .btn-action {
  padding: 0;
  text-align: center;
}
.book-list .btn-action a {
  padding: 10px;
  color: var(--green-color);
}
.book-list .btn-action a i {
  padding: 0;
}

/* ------------------------- Main Section ------------------------ */
.main {
  /* List of Categories in Category Page */
  /* Forms in Add and Edit Pages */
}
.main .category-list {
  grid-template-columns: max-content auto max-content;
}
.main .edit,
.main .add {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
  /* Edit & Add Form */
  /* Splitting line */
  /* Book Side View: Edit */
}
.main .edit .form-container,
.main .add .form-container {
  position: relative;
}
.main .edit .form-container .form table,
.main .add .form-container .form table {
  width: 100%;
}
.main .edit .form-container .form table td,
.main .add .form-container .form table td {
  padding: 10px;
}
.main .edit .form-container .form table td button.disabled,
.main .add .form-container .form table td button.disabled {
  opacity: 0;
  transition: var(--duration);
}
.main .edit .form-container .form table .category,
.main .add .form-container .form table .category {
  position: relative;
}
.main .edit .form-container .form table .category select:disabled,
.main .add .form-container .form table .category select:disabled {
  opacity: 1;
}
.main .edit .form-container .form table .category button,
.main .add .form-container .form table .category button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 33px;
}
.main .edit .form-container .form table .category ul,
.main .add .form-container .form table .category ul {
  display: none;
  height: 0;
}
.main .edit .form-container .form table .category ul.active,
.main .add .form-container .form table .category ul.active {
  display: block;
  height: fit-content;
}
.main .edit .form-container .form table .category li,
.main .add .form-container .form table .category li {
  display: grid;
  grid-template-columns: auto max-content;
  border-bottom: var(--sec-color) solid 2px;
  padding: 5px 0;
}
.main .edit .form-container .form table .category li:last-child,
.main .add .form-container .form table .category li:last-child {
  border-bottom: none;
}
.main .edit .form-container .form table .input,
.main .add .form-container .form table .input {
  max-width: 500px;
}
.main .edit .form-container .form table td:first-child,
.main .add .form-container .form table td:first-child {
  font-weight: bold;
  width: 1%;
  white-space: nowrap;
}
.main .edit .form-container .form table .btn-container,
.main .add .form-container .form table .btn-container {
  display: grid;
  grid-template-columns: max-content auto max-content;
  max-width: 500px;
}
.main .edit .form-container::after,
.main .add .form-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10%;
  display: block;
  height: 100%;
  width: 3px;
  background-color: var(--sec-color);
}
.main .edit .item-view img,
.main .add .item-view img {
  width: 80%;
  border: var(--sec-color) solid 3px;
  border-radius: var(--img-radius);
}
.main .edit .upload-container,
.main .add .upload-container {
  position: relative;
  /* Uploading Animations */
}
.main .edit .upload-container input,
.main .add .upload-container input {
  display: none;
}
.main .edit .upload-container form,
.main .add .upload-container form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main .edit .upload-container form label,
.main .add .upload-container form label {
  font-size: 1.7rem;
  color: var(--blue-color);
  margin-bottom: 50px;
  display: block;
}
.main .edit .upload-container form label i,
.main .add .upload-container form label i {
  font-size: 3rem;
  margin-bottom: 20px;
}
.main .edit .upload-container form .confirm-file-upload,
.main .add .upload-container form .confirm-file-upload {
  display: none;
}
.main .edit .upload-container form .confirm-file-upload .filename,
.main .add .upload-container form .confirm-file-upload .filename {
  margin-bottom: 10px;
}
.main .edit .upload-container .upload-animation,
.main .add .upload-container .upload-animation {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  margin: 0 auto;
}
.main .edit .upload-container .upload-animation div,
.main .add .upload-container .upload-animation div {
  color: var(--sec-color);
}
.main .edit .upload-container .upload-animation p,
.main .add .upload-container .upload-animation p {
  display: inline;
  float: right;
  margin-right: -50px;
}
.main .edit .upload-container .upload-animation .upload-bar,
.main .edit .upload-container .upload-animation .processing-bar,
.main .edit .upload-container .upload-animation .done-bar,
.main .add .upload-container .upload-animation .upload-bar,
.main .add .upload-container .upload-animation .processing-bar,
.main .add .upload-container .upload-animation .done-bar {
  position: relative;
  width: 100%;
  height: 4px;
  margin-left: 35px;
  background-color: var(--sec-color);
}
.main .edit .upload-container .upload-animation .upload-bar span,
.main .edit .upload-container .upload-animation .processing-bar span,
.main .edit .upload-container .upload-animation .done-bar span,
.main .add .upload-container .upload-animation .upload-bar span,
.main .add .upload-container .upload-animation .processing-bar span,
.main .add .upload-container .upload-animation .done-bar span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 4px;
  width: 0;
  transition: 2s;
}
.main .edit .upload-container .upload-animation .upload-bar span,
.main .add .upload-container .upload-animation .upload-bar span {
  background-color: var(--blue-color);
}
.main .edit .upload-container .upload-animation .processing-bar span,
.main .add .upload-container .upload-animation .processing-bar span {
  background-color: var(--red-color);
}
.main .edit .upload-container .upload-animation .done-bar span,
.main .add .upload-container .upload-animation .done-bar span {
  background-color: var(--green-color);
}
.main .add-category .form table,
.main .edit-category .form table {
  width: 100%;
}
.main .add-category .form table td,
.main .edit-category .form table td {
  padding: 10px;
}
.main .add-category .form table .input,
.main .edit-category .form table .input {
  max-width: 500px;
}
.main .add-category .form table td:first-child,
.main .edit-category .form table td:first-child {
  font-weight: bold;
  width: 1%;
  white-space: nowrap;
}
.main .add-category .book-list,
.main .edit-category .book-list {
  grid-template-columns: max-content auto max-content max-content;
}
.main .add-category .book-list .btn-action,
.main .edit-category .book-list .btn-action {
  padding: 10px;
}
.main .add-category .book-list .input:hover,
.main .edit-category .book-list .input:hover {
  box-shadow: none;
}
.main .all-categories-list {
  grid-template-columns: max-content auto max-content max-content;
}

/* ---------------------- Secondary Side Bar --------------------- */
.sec-side-bar {
  display: none;
}

/* ------------------------ Error Messages ----------------------- */
.error,
.success {
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 200;
  transition: 0.5s;
}
.error p,
.success p {
  color: var(--btn-color);
  border-radius: var(--img-radius);
  margin: 0 auto;
  width: fit-content;
  padding: 10px 20px;
}

.error.show,
.success.show {
  top: 100px;
  opacity: 0.8;
}

.error p {
  background-color: var(--red-color);
}

.success p {
  background-color: var(--green-color);
}

/* --------------------------- Modals -----------------------------*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 250;
  display: none;
}
.modal .modal-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--block-radius);
  background-color: var(--bg-color);
  padding: 30px;
  width: fit-content;
}
.modal .modal-container .text-container {
  padding-bottom: 40px;
}
.modal .modal-container .text-container p {
  font-size: 1.5rem;
}
.modal .modal-container .btn-container {
  display: grid;
  grid-template-columns: max-content auto max-content;
  margin: 0 5%;
}

.modal.active {
  display: block;
}

/* ------------------------ Media Queries ------------------------ */
@media screen and (max-width: 992px) {
  .main .edit,
  .main .add {
    /* Edit & Add Form */
    /* Book Side View: Edit */
  }
  .main .edit .form-container .form table td,
  .main .add .form-container .form table td {
    display: block;
    padding: 0;
  }
  .main .edit .form-container .form table td:first-child,
  .main .add .form-container .form table td:first-child {
    padding: 20px 5px 5px;
  }
  .main .edit .item-view img,
  .main .add .item-view img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .main .add .upload-container label {
    font-size: 1.5rem;
  }
  .main .add .upload-container label i {
    font-size: 3rem;
  }
}
@media screen and (max-width: 576px) {
  .main .edit {
    display: block;
    /* Edit & Add Form */
  }
  .main .edit .form-container .form table {
    width: fit-content;
  }
  .main .edit .form-container .form table .input {
    max-width: 350px;
  }
  .main .edit .item-view {
    display: none;
  }
  .main .add {
    display: flex;
    gap: 0;
    flex-direction: column-reverse;
  }
  .main .add .upload-container {
    position: static;
    margin: 20px;
  }
  .main .add .upload-container form {
    position: static;
    width: 100%;
    text-align: center;
    display: block;
    transform: translate(0);
  }
  .main .add .upload-container .upload-animation {
    position: static;
    transform: translate(0);
    margin: 0;
  }
}

/*# sourceMappingURL=admin.css.map */
