/* ----------------- Variables & global Settings ----------------- */
:root {
  /* Light Mode */
  --bg-color: #F1F6F9;
  --sec-color: #9BA4B4;
  --text-color: #14274E;
  --btn-color: #fff;
  /* Dark Mode */
  /* Buttons and Input Fields Colors */
  --blue-color: #0d6efd;
  --green-color: #28a745;
  --red-color: #dc3545;
  --img-radius: 10px;
  --block-radius: 20px;
  --duration: 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--sec-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
  display: inline-block;
}

.fixed-block {
  background-color: var(--bg-color);
  padding: 20px;
  overflow: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.fixed-block::-webkit-scrollbar,
.preview::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

/* Horizontal Line: Homepage Secondary Side Bar */
.hr {
  width: 100%;
  background-color: var(--sec-color);
  height: 3px;
  margin: 20px 0;
}

/* --------------- End Variables & global Settings --------------- */
/* -------------------------- Buttons ---------------------------- */
/* Start Global Buttons */
.btn {
  background-color: var(--bg-color);
  outline: none;
  border: none;
  border-radius: var(--img-radius);
  color: var(--btn-color);
  padding: 10px 15px;
  text-decoration: none;
  transition: var(--duration);
  font-size: 80%;
}
.btn i {
  padding-right: 10px;
}

.btn:hover {
  scale: 1.05;
}

/* Icon Buttons: Close and Open Side Bars */
.btn-icon {
  color: var(--text-color);
  font-size: 1.2rem;
  padding: 20px;
  border-radius: var(--block-radius);
  background-color: transparent;
}
.btn-icon i {
  padding: 0;
}

/* List Button: Main side Bar items */
.btn-list {
  color: var(--text-color);
  padding: 0;
}

/* Start Primary Buttons */
.btn-blue {
  background-color: var(--blue-color);
  border: var(--blue-color) solid 2px;
}

.btn-green {
  background-color: var(--green-color);
  border: var(--green-color) solid 2px;
}

.btn-red {
  background-color: var(--red-color);
  border: var(--red-color) solid 2px;
}

/* Start Secondary Buttons */
.btn-sec-blue {
  color: var(--blue-color);
  border: var(--blue-color) solid 2px;
}

.btn-sec-green {
  color: var(--green-color);
  border: var(--green-color) solid 2px;
}

.btn-sec-red {
  color: var(--red-color);
  border: var(--red-color) solid 2px;
}

/* Start Secondary Buttons hover Effect */
.btn-sec-blue:hover {
  background-color: var(--blue-color);
  color: var(--btn-color);
}

.btn-sec-green:hover {
  background-color: var(--green-color);
  color: var(--btn-color);
}

.btn-sec-red:hover {
  background-color: var(--red-color);
  color: var(--btn-color);
}

/* ------------------------ End Buttons -------------------------- */
/* --------------------------- Inputs ---------------------------- */
/* Global Input Field */
.input {
  border: var(--sec-color) solid 3px;
  border-radius: var(--img-radius);
  background-color: var(--bg-color);
  color: var(--text-color);
  outline: none;
  padding: 5px 10px;
  line-height: 1.5em;
  width: 100%;
  font-size: 80%;
}

.input:hover {
  box-shadow: 0 0 5px var(--sec-color);
}

/* ------------------------- End Inputs -------------------------- */
/* ------------------------ Text Classes ------------------------- */
.header {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* ---------------------- End Text Classes ----------------------- */
.navbar {
  position: fixed;
  top: 0;
  left: 10px;
  right: 10px;
  background-color: var(--bg-color);
  border-radius: 0 0 20px 20px;
  box-shadow: 0 8px 3px 0 var(--sec-color);
  display: grid;
  grid-template-columns: max-content auto max-content;
  padding: 15px;
  z-index: 100;
}
.navbar .logo {
  color: var(--text-color);
  font-weight: 900;
}
.navbar .logo a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 2rem;
}
.navbar .middle {
  display: contents;
}
.navbar .middle .book-title {
  text-align: center;
  color: var(--text-color);
  font-size: 1.2rem;
  padding: 6px 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* --------------------- Search bar Component -------------------- */
/* Global Input Bar: Login & Register Form */
.input-bar {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  border-radius: var(--img-radius);
  transition: var(--duration);
}
.input-bar input {
  padding-left: 45px;
  border-color: var(--blue-color);
}
.input-bar label {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  background-color: var(--blue-color);
  color: var(--bg-color);
  border-color: var(--blue-color);
  border-radius: var(--img-radius) 0 0 var(--img-radius);
}

.input-bar:hover {
  box-shadow: 0 0 5px var(--blue-color);
}

/* Global Search Bar: Navbar Search */
.search-bar {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  border-radius: var(--img-radius);
  transition: var(--duration);
}
.search-bar button {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  background-color: var(--sec-color);
  color: var(--bg-color);
  border-radius: 0 var(--img-radius) var(--img-radius) 0;
}

.search-bar:hover {
  box-shadow: 0 0 5px var(--sec-color);
}

/* Secondary Search Bar: History & Wishlist Search */
.search-sec-bar {
  max-width: 250px;
  margin: 0;
}
.search-sec-bar input {
  border: none;
  border-bottom: var(--sec-color) solid 2px;
  padding-left: 45px;
  padding-top: 7px;
}
.search-sec-bar button {
  left: 0;
  right: auto;
  border-width: 2px;
  border-radius: var(--img-radius) 0 0 var(--img-radius);
}

/* ------------------- End Search bar Component ------------------ */
/* ------------------------ List Component ----------------------- */
/* Global List Styling */
.list {
  /* Global List Items */
  /* Center List Expand Button: Homepage History and Wishlist preview */
  /* Main and Sub headers in List: Main Side Bar Navigation and Content Table */
  /* List View: History & Wishlist */
}
.list li {
  list-style: none;
  padding: 3px 15px;
}
.list .list-expand a {
  margin: 0 auto;
  display: block;
  width: fit-content;
}
.list .main-head {
  font-weight: bold;
}
.list .sub-head {
  font-weight: normal;
}
.list .list-view {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 0 5px 10px;
  grid-gap: 10px;
  border-bottom: var(--sec-color) solid 1px;
  max-width: 500px;
  /* Homapage History and Wishlist */
  /* History and Wishlist Page*/
  /* Global List view details */
}
.list .list-view img.side-view {
  width: 100%;
  height: 80px;
  border-radius: var(--img-radius);
}
.list .list-view img.main-view {
  width: 100%;
  height: 85px;
  border-radius: var(--img-radius);
}
.list .list-view .details {
  /* Book Title */
}
.list .list-view .details p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 80%;
  /* Bold 'By: '*/
}
.list .list-view .details p span {
  font-weight: bold;
}
.list .list-view .details .title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.list li:last-of-type .list-view {
  border-bottom: none;
}

/* ---------------------- End List Component --------------------- */
/* Login & Register */
.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--block-radius);
  padding: 50px;
  width: 500px;
}
.login .header {
  margin-bottom: 25px;
  position: relative;
}
.login .header .back {
  position: absolute;
  top: -16px;
  right: 0;
}
.login div {
  margin-bottom: 10px;
}
.login .center {
  text-align: center;
  margin: 0;
}
.login .center a {
  display: block;
  margin: 5px auto 0;
  width: fit-content;
  color: var(--blue-color);
  transition: var(--duration);
}
.login .center a:hover {
  transform: scale(1.05);
}

/* ------------------------- Main Side Bar ----------------------- */
.main-side-bar {
  position: fixed;
  top: 78px;
  left: 10px;
  bottom: 10px;
  width: 200px;
  border-radius: var(--block-radius);
  z-index: 80;
  transition: var(--duration);
  /* Close Buttons */
}
.main-side-bar .close {
  display: none;
}
.main-side-bar .open {
  position: fixed;
  top: 178px;
  left: -150px;
  transition: var(--duration);
}
.main-side-bar .open::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
}
.main-side-bar .open::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  border-radius: 0 50% 50% 0;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

/* ----------------------- End Main Side Bar --------------------- */
/* ------------------------- Main Section ------------------------ */
.main {
  position: absolute;
  top: 78px;
  right: 10px;
  left: 220px;
  overflow: hidden;
  border-radius: var(--block-radius);
  transition: var(--duration);
  /* Main Page Gallery */
  /* Book Page */
  /* Control Book Full Screen */
  /* History & Wishlist Page */
}
.main .gallary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px 16px;
  gap: 16px 30px;
}
.main .gallary .gallery-view {
  width: 150px;
  border: var(--sec-color) solid 3px;
  position: relative;
  border-radius: var(--img-radius);
  padding: 5px;
  overflow: hidden;
  transition: var(--duration);
}
.main .gallary .gallery-view a {
  display: block;
}
.main .gallary .gallery-view a .img {
  width: 100%;
  height: 150px;
  border-radius: var(--img-radius) var(--img-radius) 0 0;
  display: block;
}
.main .gallary .gallery-view a .title {
  padding: 5px 10px 0 0;
}
.main .gallary .gallery-view a .title p {
  width: 110px;
  height: 2em;
  font-size: 14px;
  overflow: hidden;
  line-height: 1em;
}
.main .gallary .gallery-view .bookmark {
  position: absolute;
  right: 0;
  top: 150px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
  padding: 15px 10px;
  transition: var(--trans-duraion);
}
.main .gallary .gallery-view .bookmark:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.main .book {
  position: fixed;
  top: inherit;
  bottom: 0;
  left: inherit;
  right: inherit;
  padding-top: 0;
  border-radius: var(--block-radius) var(--block-radius) 0 0;
  /* Tool Bar in Book Page */
  /* Book Preview in Book Page*/
}
.main .book .tool-bar {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(4, max-content) auto max-content;
  gap: 25px;
  padding: 15px 0;
  border-bottom: var(--sec-color) solid 2px;
  background-color: var(--bg-color);
  /* Toggle Maximize & Minimize Buttons */
}
.main .book .tool-bar button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  padding: 5px 8px;
  position: relative;
  font-size: 1rem;
}
.main .book .tool-bar .page-num {
  text-align: center;
  position: relative;
}
.main .book .tool-bar .page-num input {
  height: 32px;
  width: 36px;
  border: var(--sec-color) solid 2px;
  border-radius: 5px;
}
.main .book .tool-bar button::after,
.main .book .tool-bar .page-num::after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: var(--sec-color);
  position: absolute;
  top: 0;
  right: -12.5px;
}
.main .book .tool-bar button:last-child::after {
  content: none;
}
.main .book .tool-bar .maximize i:first-child {
  display: block;
}
.main .book .tool-bar .maximize i:nth-child(2) {
  display: none;
}
.main .book .tool-bar .maximize.active i:first-child {
  display: none;
}
.main .book .tool-bar .maximize.active i:nth-child(2) {
  display: block;
}
.main .book .preview {
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}
.main .book .preview img {
  margin: 0 auto 10px;
  display: block;
  width: 50%;
  border: var(--sec-color) solid 2px;
  background-color: #fff;
}
.main .book.active {
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  border-radius: 0;
}
.main .history,
.main .wishlist {
  margin: 0 auto;
  width: max-content;
}

/* ----------------------- End Main Section ---------------------- */
/* ---------------------- Secondary Side Bar --------------------- */
.sec-side-bar {
  position: fixed;
  top: 78px;
  right: -355px;
  bottom: 10px;
  width: 350px;
  border-radius: var(--block-radius) 0 0 var(--block-radius);
  box-shadow: 0 0 5px #000;
  z-index: 80;
  transition: var(--duration);
  /* Close Buttons */
  /* List view */
  /* Details View on Secondary Side Bar */
  /* History & Wishlist Page */
}
.sec-side-bar .close {
  position: absolute;
  top: 0;
  right: 0;
}
.sec-side-bar .open {
  position: fixed;
  top: 178px;
  right: -100px;
  transition: var(--duration);
}
.sec-side-bar .open::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  border-radius: 50% 0 0 50%;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
.sec-side-bar .open::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
}
.sec-side-bar .list li {
  padding: 5px 0;
}
.sec-side-bar .detail-view img {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 5%;
}
.sec-side-bar .detail-view .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 30px 20px 0;
}
.sec-side-bar .detail-view table {
  width: 100%;
}
.sec-side-bar .detail-view table tr td {
  padding-bottom: 5px;
}
.sec-side-bar .detail-view table tr td:first-child {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sec-side-bar .detail-view .download {
  display: block;
  margin: 0 0 0 auto;
}
.sec-side-bar .search-history,
.sec-side-bar .search-wishlist {
  margin-bottom: 50px;
}

.sec-side-bar.active {
  right: 0;
}

/* -------------------- End Secondary Side Bar ------------------- */
@media screen and (max-width: 992px) {
  /* ----------------------- Components ------------------------ */
  /* Search Bar */
  .search-bar {
    max-width: 250px;
  }
}
@media screen and (max-width: 768px) {
  /* --------------------- Global Settings --------------------- */
  .fixed-block {
    padding: 15px;
  }
  /* ----------------------- Components ------------------------ */
  /* Search Bar */
  .search-bar {
    max-width: 200px;
  }
  /* ---------------------- Main Side Bar ---------------------- */
  .main-side-bar {
    width: 160px;
  }
  /* -------------------------- Main --------------------------- */
  .main {
    left: 180px;
    /* Book Page */
  }
  .main .gallary {
    gap: 16px 5px;
    padding: 15px 10px;
  }
  .main .book .tool-bar {
    gap: 20px;
    padding: 10px 0;
  }
  .main .book .tool-bar button {
    padding: 5px;
  }
  .main .book .tool-bar button::after,
  .main .book .tool-bar .page-num::after {
    right: -10px;
  }
  .main .history,
  .main .wishlist {
    width: 100%;
  }
  /* ---------------------- Secondary Side Bar --------------------- */
  .sec-side-bar {
    width: fit-content;
    max-width: 350px;
  }
  /* ----------------------- Login & Register ---------------------- */
  .login {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  /* ----------------------- Components ------------------------ */
  /* Global List */
  .list .list-view {
    padding: 5px;
  }
  /* ------------------------- Navbar -------------------------- */
  .navbar {
    left: 0;
    right: 0;
    padding: 10px 60px;
    border-radius: 0;
  }
  .navbar .middle,
  .navbar .right {
    display: none;
  }
  .login-page .navbar {
    padding: 10px 20px;
  }
  /* ---------------------- Main Side Bar ---------------------- */
  .main-side-bar {
    top: 63px;
    left: -165px;
    bottom: 5px;
    z-index: 100;
    border-radius: 0 var(--block-radius) var(--block-radius) 0;
    box-shadow: 0 0 5px #000;
    padding-left: 0;
  }
  .main-side-bar .close {
    display: none;
    position: fixed;
    background-color: var(--bg-color);
    height: 50px;
    border-radius: 0;
    top: 0;
    left: 0;
  }
  .main-side-bar .open {
    top: 0;
    left: 0;
  }
  .main-side-bar .open::before {
    content: none;
    top: 80%;
    left: 0;
  }
  .main-side-bar .open::after {
    border-radius: 0;
    box-shadow: none;
    height: 50px;
  }
  .main-side-bar.active {
    left: 0;
  }
  /* ----------------------- Main Section ------------------------ */
  .main {
    left: 5px;
    right: 5px;
    top: 68px;
    /* Book Page */
  }
  .main .gallary {
    gap: 16px 0;
    padding: 5px 0;
  }
  .main .book .tool-bar button {
    padding: 0;
  }
  /* ----------------------- Login & Register ---------------------- */
  .login {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
