{% extends 'admin-layout.html' %}

{% block title %}
Dashboard
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block navbar %}
<div class="middle">
    <form>
        <div class="search-bar">
            <input type="text" class="input" placeholder="Search" name="q">
            <button type="submit" class="input">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>
<div class="right">
</div>
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block main_side_bar %}
{% include 'components/admin-sidebar.html' %}
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block main %}
<p class="header">Add book</p>
<div class="add">
    <div class="form-container">
        <form class="form" action="/admin/add" method="post" id="form">
            <!-- CSRF Token -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf" />

            <input type="hidden" name="sid" id="sid">
            <table>
                <tr>
                    <td>
                        <label for="title">Title</label>
                    </td>
                    <td>
                        <input type="text" class="input" name="title" id="title" placeholder="Enter the book title"
                            required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="author">Author</label>
                    </td>
                    <td>
                        <input type="text" class="input" name="author" id="author" placeholder="Enter the book author"
                            required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="date">Pub. Date</label>
                    </td>
                    <td>
                        <input type="date" class="input" name="date" id="date" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="version">Version</label>
                    </td>
                    <td>
                        <input type="text" class="input" name="version" id="version">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="lang">Language</label>
                    </td>
                    <td>
                        <!-- <input type="text" class="input" name="lang" id="lang"> -->
                        <select name="lang" id="lang" class="input">
                            <option value="0" selected></option>
                            {% for lang in languages %}
                            <option value="{{ lang['id'] }}">{{ lang['lang'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="category">Category</label>
                    </td>
                    <td>
                        <select disabled class="input">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="description">Description</label>
                    </td>
                    <td>
                        <textarea name="description" class="input" id="description"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <button class="btn btn-blue disabled" id="submit">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="upload-container">
        <form>
            <label for="file">
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                <p>Upload file</p>
            </label>
            <input type="file" id="file" name="file" accept=".pdf">
            <div class="confirm-file-upload">
                <p class="filename"></p>
                <button class="btn btn-blue file-upload">Upload</button>
            </div>
        </form>
        <div class="upload-animation">
            <div class="btn upload-icon">
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                <span>Uploading...</span>
                <!-- <p>0/100</p> -->
            </div>
            <div class="upload-bar">
                <span></span>
            </div>

            <div class="btn processing-icon">
                <i class="fa-solid fa-gears"></i>
                <span>Processing</span>
                <!-- <p>0/100</p> -->
            </div>
            <div class="processing-bar">
                <span></span>
            </div>

            <div class="btn done-icon">
                <i class="fa-regular fa-circle-check"></i>
                <span>Done</span>
                <!-- <p>0/100</p> -->
            </div>
            <div class="done-bar">
                <span></span>
            </div>
        </div>
    </div>
</div>

<div class="error">
    <p></p>
</div>
<div class="success">
    <p></p>
</div>
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block sec_side_bar %}

{% endblock %}

{% block scripts %}
<script src="/static/js/add-book.js"></script>
{% endblock %}