{% extends 'admin-layout.html' %}

{% block title %}
Categories
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block navbar %}
<div class="middle">
    <form>
        <div class="search-bar">
            <input type="text" class="input" placeholder="Search" name="q">
            <button type="submit" class="input">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>
<div class="right">
</div>
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block main_side_bar %}
{% include 'components/admin-sidebar.html' %}
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block main %}
<div class="all-categories-list book-list">
    <div class="head">ID</div>
    <div class="head">Category</div>
    <div class="head">Books</div>
    <div class="head">Edit</div>
    {% for row in data %}
    <div>{{ row['id'] }}</div>
    <div>{{ row['name'] }}</div>
    <div>{{ row['num'] }}</div>
    <div class="btn-action">
        <a class="btn" href="/admin/category/{{ row['id'] }}">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>
    </div>
    {% else %}
    <div> No data Available, Please Add some categories </div>
    {% endfor %}
</div>
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block sec_side_bar %}

{% endblock %}