{% extends 'admin-layout.html' %}

{% block title %}
Dashboard
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block navbar %}
<div class="middle">
    <!-- <form>
        <div class="search-bar">
            <input type="text" class="input" placeholder="Search" name="q">
            <button type="submit" class="input">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form> -->
</div>
<div class="right">
</div>
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block main_side_bar %}
{% include 'components/admin-sidebar.html' %}
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block main %}
<p class="header">Edit Category</p>
<div class="edit-category">
    <form class="form" action="/admin/category/{{ category['id'] }}" method="post" id="form">
        <!-- CSRF Token -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf" />

        <table>
            <tr>
                <td>
                    <label for="name">Name</label>
                </td>
                <td>
                    <input type="text" class="input" name="name" id="name" value="{{ category['name'] }}" required>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <button class="btn btn-blue" id="submit">Save</button>
                </td>
            </tr>
        </table>

        <div class="hr"></div>

        <div class="search-bar search-sec-bar">
            <input type="text" class="input" placeholder="Search for book" name="q" id="search">
            <button type="button" class="input">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <div class="book-list" id="container">
            {% include "components/admin-search/category-books-list.html" %}
        </div>
    </form>
</div>

<div class="error">
    <p></p>
</div>
<div class="success">
    <p></p>
</div>
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block sec_side_bar %}

{% endblock %}

{% block scripts %}
<script src="/static/js/edit-category.js"></script>
{% endblock %}