{% extends 'admin-layout.html' %}

{% block title %}
Dashboard
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block navbar %}
<div class="middle">
    <form>
        <div class="search-bar">
            <input type="text" class="input" placeholder="Search" name="q" id="search">
            <button type="submit" class="input">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>
<div class="right">
</div>
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block main_side_bar %}
{% include 'components/admin-sidebar.html' %}
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block main %}
<div class="book-list" id="container">
    {% include 'components/admin-search/book-list.html' %}
</div>
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block sec_side_bar %}

{% endblock %}