<div class="head">ID</div>
<div class="head">Name</div>
<div class="head">Date</div>
<div class="head">Size</div>
<div class="head">Edit</div>
{% for row in data %}
<div>{{ row['id'] }}</div>
<div>{{ row['name'] }}</div>
<div>{{ row['pub_date'] }}</div>
<div>{{ row['pages'] }} Page</div>
<div class="btn-action">
    <a class="btn" href="/admin/edit/{{ row['sid'] }}">
        <i class="fa-solid fa-pen-to-square"></i>
    </a>
</div>
{% else %}
<div> No data Available, Please Add some books </div>
{% endfor %}