<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDFs Library</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/21ee534458.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <span>PDFs</span>
        </div>
        <div></div>
        <div class="btn-container">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <div class="main">
        <div class="index">
        </div>
        <div class="pdf">
            <object data="/files/pdf/FA22_Freshman.pdf" type="application/pdf" width="100%" height="500px">
                <p>Unable to display PDF file. <a
                        href="/uploads/media/default/0001/01/540cb75550adf33f281f29132dddd14fded85bfc.pdf">Download</a>
                    instead.</p>
            </object>
            <!-- <embed type="application/pdf" src="/files/pdf/FA22_Freshman.pdf" width="800px" height="2100px" /> -->
        </div>
    </div>
</body>

</html>