@import "templates/global.scss";
@import "templates/navbar.scss";
@import "templates/components.scss";
@import "templates/login.scss";

/* ------------------------- Main Side Bar ----------------------- */
.main-side-bar {
    position: fixed;
    top: 78px;
    left: 10px;
    bottom: 10px;
    width: 200px;

    border-radius: var(--block-radius);

    z-index: 80;
    transition: var(--duration);

    /* Close Buttons */
    .close {
        display: none;
    }

    .open {
        position: fixed;
        top: 178px;
        left: -150px;
        transition: var(--duration);
    }

    .open::before {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        z-index: -1;
    }

    .open::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        z-index: -1;
        border-radius: 0 50% 50% 0;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    }
}

/* ----------------------- End Main Side Bar --------------------- */

/* ------------------------- Main Section ------------------------ */
.main {
    position: absolute;
    top: 78px;
    right: 10px;
    left: 220px;
    overflow: hidden;

    border-radius: var(--block-radius);
    transition: var(--duration);

    /* Main Page Gallery */
    .gallary {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 15px 16px;
        gap: 16px 30px;

        .gallery-view {
            width: 150px;
            border: var(--sec-color) solid 3px;
            position: relative;
            border-radius: var(--img-radius);
            padding: 5px;
            overflow: hidden;
            transition: var(--duration);

            a {
                display: block;

                .img {
                    width: 100%;
                    height: 150px;
                    border-radius: var(--img-radius) var(--img-radius) 0 0;
                    display: block;
                }

                .title {
                    padding: 5px 10px 0 0;

                    p {
                        width: 110px;
                        height: 2em;
                        font-size: 14px;
                        overflow: hidden;
                        line-height: 1em;
                    }
                }
            }

            .bookmark {
                position: absolute;
                right: 0;
                top: 150px;
                border: none;
                outline: none;
                background-color: transparent;
                color: var(--text-color);
                padding: 15px 10px;
                transition: var(--trans-duraion);
            }

            .bookmark:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }

    /* Book Page */
    .book {
        position: fixed;
        top: inherit;
        bottom: 0;
        left: inherit;
        right: inherit;
        padding-top: 0;
        // overflow: scroll;
        border-radius: var(--block-radius) var(--block-radius) 0 0;

        /* Tool Bar in Book Page */
        .tool-bar {
            position: sticky;
            top: 0;
            display: grid;
            grid-template-columns: repeat(4, max-content) auto max-content;
            gap: 25px;
            padding: 15px 0;
            border-bottom: var(--sec-color) solid 2px;
            background-color: var(--bg-color);

            button {
                background-color: var(--bg-color);
                color: var(--text-color);
                border: none;
                padding: 5px 8px;
                position: relative;
                font-size: 1rem;
            }

            .page-num {
                text-align: center;
                position: relative;

                input {
                    height: 32px;
                    width: 36px;
                    border: var(--sec-color) solid 2px;
                    border-radius: 5px;
                }
            }

            button::after,
            .page-num::after {
                content: "";
                display: block;
                width: 2px;
                height: 100%;
                background-color: var(--sec-color);
                position: absolute;
                top: 0;
                right: -12.5px;
            }

            button:last-child::after {
                content: none;
            }

            /* Toggle Maximize & Minimize Buttons */
            .maximize {
                i:first-child {
                    display: block;
                }

                i:nth-child(2) {
                    display: none;
                }
            }

            .maximize.active {
                i:first-child {
                    display: none;
                }

                i:nth-child(2) {
                    display: block;
                }
            }
        }

        /* Book Preview in Book Page*/
        .preview {
            width: 100%;
            overflow: scroll;
            -ms-overflow-style: none;
            /* Internet Explorer 10+ */
            scrollbar-width: none;
            /* Firefox */

            img {
                margin: 0 auto 10px;
                display: block;
                width: 50%;
                border: var(--sec-color) solid 2px;
                background-color: #fff;
            }
        }
    }

    /* Control Book Full Screen */
    .book.active {
        top: 0;
        left: 0;
        right: 0;
        z-index: 200;
        border-radius: 0;
    }

    /* History & Wishlist Page */
    .history,
    .wishlist {
        margin: 0 auto;
        width: max-content;
    }
}

/* ----------------------- End Main Section ---------------------- */

/* ---------------------- Secondary Side Bar --------------------- */
.sec-side-bar {
    position: fixed;
    top: 78px;
    right: -355px;
    bottom: 10px;
    width: 350px;

    border-radius: var(--block-radius) 0 0 var(--block-radius);
    box-shadow: 0 0 5px #000;

    z-index: 80;
    transition: var(--duration);

    /* Close Buttons */
    .close {
        position: absolute;
        top: 0;
        right: 0;
    }

    .open {
        position: fixed;
        top: 178px;
        right: -100px;
        transition: var(--duration);
    }

    .open::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        z-index: -1;
        border-radius: 50% 0 0 50%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    }

    .open::after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        z-index: -1;
    }

    /* List view */
    .list {
        li {
            padding: 5px 0;
        }
    }

    /* Details View on Secondary Side Bar */
    .detail-view {
        img {
            width: 100%;
            margin-bottom: 20px;
            padding: 0 5%;
        }

        .title {
            font-size: 1.2rem;
            font-weight: bold;
            margin: 0 30px 20px 0;
        }

        table {
            width: 100%;

            tr {
                td {
                    padding-bottom: 5px;
                }

                td:first-child {
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .download {
            display: block;
            margin: 0 0 0 auto;
        }
    }

    /* History & Wishlist Page */
    .search-history,
    .search-wishlist {
        margin-bottom: 50px;
    }
}

.sec-side-bar.active {
    right: 0;
}

/* -------------------- End Secondary Side Bar ------------------- */

@import "viewport/large.scss";
@import "viewport/medium.scss";
@import "viewport/small.scss";
@import "viewport/xsmall.scss";