<ul class="list">
    <li class="main-head">
        <a href="/" class="btn btn-list">
            <i class="fa-solid fa-house"></i>Home
        </a>
        <ul class="list">
            {% for category in categories %}
            <li class="sub-head">
                <a href="/category/{{ category['id'] }}" class="btn btn-list">{{ category['name'] }}</a>
            </li>
            {% endfor %}
            <!-- <li class="sub-head">
                <a href="#" class="btn btn-list">Category 1</a>
            </li>
            <li class="sub-head">
                <a href="#" class="btn btn-list">Category 2</a>
            </li>
            <li class="sub-head">
                <a href="#" class="btn btn-list">Category 3</a>
            </li>
            <li class="sub-head">
                <a href="#" class="btn btn-list">Category 4</a>
            </li> -->
        </ul>
    </li>
    <li class="main-head">
        <a href="/history" class="btn btn-list">
            <i class="fa-solid fa-clock-rotate-left"></i>History
        </a>
    </li>
    <li class="main-head">
        <a href="/wishlist" class="btn btn-list">
            <i class="fa-solid fa-bookmark"></i>Wishlist
        </a>
    </li>
</ul>