<ul class="list">
    <li class="main-head">
        <a href="/">Home</a>
        <ul class="list">
            <li class="sub-head">
                <a href="#">Category 1</a>
            </li>
            <li class="sub-head">
                <a href="#">Category 2</a>
            </li>
            <li class="sub-head">
                <a href="#">Category 3</a>
            </li>
            <li class="sub-head">
                <a href="#">Category 4</a>
            </li>
        </ul>
    </li>
    <li class="main-head">
        <a href="/history">History</a>
    </li>
    <li class="main-head">
        <a href="/wishlist">Wishlist</a>
    </li>
</ul>