{% extends 'layout.html' %}

{% block title %}
History
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block navbar %}
<div class="middle">
    <form>
        <div class="search-bar">
            <input type="text" class="input" placeholder="Search" name="q">
            <button type="submit" class="input">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>
<div class="right">
    {% if logged_in %}
    {% include 'components/user-btns.html' %}
    {% else %}
    {% include 'components/login-btns.html' %}
    {% endif %}
</div>
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block main_side_bar %}
{% include 'components/sidebar.html' %}
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block main %}
<div class="history">
    <p class="header">History</p>
    <ul class="list">
        {% for row in data %}
        <li>
            <a href="/book/{{ row['sid'] }}" class="list-view">
                <img src="/book/{{ row['sid'] }}/1.svg" class="main-view">
                <div class="details">
                    <p class="title">{{ row['name'] }}</p>
                    <p><span>By: </span>{{ row['author'] }}</p>
                    <p>{{ row['pages'] }} Page</p>
                    <p>{{ row['pub_date'] }}</p>
                </div>
            </a>
        </li>
        {% else %}
        <li>Your history is empty</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block sec_side_bar %}
<form class="search-history">
    <div class="search-bar search-sec-bar">
        <input type="text" class="input" placeholder="Search yout history" name="q">
        <button type="submit" class="input">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</form>

<p class="header">History Options</p>
<ul class="list">
    <li>
        <button class="btn btn-sec-red">
            <i class="fa-solid fa-trash"></i> Clear all history
        </button>
    </li>
    <li>
        <button class="btn btn-sec-green">
            <i class="fa-regular fa-circle-pause"></i> Pause history
        </button>
    </li>
</ul>
{% endblock %}