{% extends 'layout.html' %}

{% block title %}
Homepage
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block navbar %}
<div class="middle">
    <form>
        <div class="search-bar">
            <input type="text" class="input" placeholder="Search" name="q" id="search">
            <button type="submit" class="input">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>
<div class="right">
    {% if logged_in %}
    {% include 'components/user-btns.html' %}
    {% else %}
    {% include 'components/login-btns.html' %}
    {% endif %}
</div>
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block main_side_bar %}
{% include 'components/sidebar.html' %}
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block main %}
<div class="gallery">
    {% for row in data %}
    <div class="gallery-view {% if row['lang'] == 2 %} rtl {% endif %}">
        <a href="/book/{{ row['sid'] }}">
            <img class="img" src="/book/{{ row['sid'] }}/1.svg">
            <div class="details">
                <p class="title">
                    {{ row['name'] }}
                </p>
                <p>
                    {{ row['author'] }}
                </p>
            </div>
        </a>
    </div>
    {% else %}
    <div> No data Available, Please Add some books </div>
    {% endfor %}
</div>
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block sec_side_bar %}
<!-- Wishlist  Page -->
<p class="header">Wishlist</p>
<ul class="list">
    <li>Your wishlist is empty</li>
</ul>
<div class="hr"></div>

<!-- History Page -->
<p class="header">History</p>
<ul class="list">
    <li>Your hisoty is empty</li>
</ul>
{% endblock %}