{% extends 'layout.html' %}

{% block title %}
Homepage
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block navbar %}
<div class="middle">
    <form>
        <div class="search-bar">
            <input type="text" class="input" placeholder="Search" name="q">
            <button type="submit" class="input">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>
<div class="right">
    {% if logged_in %}
    {% include 'components/user-btns.html' %}
    {% else %}
    {% include 'components/login-btns.html' %}
    {% endif %}
</div>
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block main_side_bar %}
{% include 'components/sidebar.html' %}
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block main %}
<div class="gallery">
    {% for row in data %}
    <div class="gallery-view">
        <a href="/book/{{ row['sid'] }}">
            <img class="img" src="/book/{{ row['sid'] }}/1.svg">
            <div class="details">
                <p class="title">
                    {{ row['name'] }}
                </p>
                <p>
                    {{ row['author'] }}
                </p>
            </div>
        </a>
    </div>
    {% else %}
    <div> No data Available, Please Add some books </div>
    {% endfor %}
</div>
{% endblock %}

<!-- ------------------------------------------------------------ -->

{% block sec_side_bar %}
<!-- Wishlist  Page -->
<p class="header">Wishlist</p>
<ul class="list">
    <li>Your wishlist is empty</li>
    <!-- {% for i in range(3) %}
    <li>
        <a href="#" class="list-view">
            <img src="https://picsum.photos/{{i * 150}}/{{i * 100}}" class="side-view">
            <div class="details">
                <p class="title">Clean Code A handbook of Agile Software Craftsmanship</p>
                <p><span>By: </span>Robert C. Martin</p>
                <p>140 Page</p>
                <p>June 2018</p>
            </div>
        </a>
    </li>
    {% endfor %}
    <div class="list-expand">
        <a href="/wishlist" class="btn btn-sec-blue">
            See more
        </a>
    </div> -->
</ul>
<div class="hr"></div>

<!-- History Page -->
<p class="header">History</p>
<ul class="list">
    <li>Your hisoty is empty</li>
</ul>
{% endblock %}