{% extends 'layout-login.html' %}

{% block title %}
Login
{% endblock %}

{% block form %}
<div class="header">Login</div>
<form>
    <div>
        <label for="username">Username</label>
    </div>
    <div class="input-bar">
        <label for="username" class="input"><i class="fa-solid fa-user"></i></label>
        <input type="text" class="input" id="username" name="username" placeholder="E-mail or Username">
    </div>
    <div>
        <label for="password">Password</label>
    </div>
    <div class="input-bar">
        <label for="password" class="input"><i class="fa-solid fa-key"></i></label>
        <input type="password" class="input" id="password" name="password" placeholder="Password">
    </div>
    <div>
        <button type="submit" class="btn btn-blue">
            <i class="fa-solid fa-user"></i>Login
        </button>
    </div>
    <div class="center">
        <a href="#">Forget password?</a>
        <a href="/register">Don't have account?</a>
    </div>
</form>
{% endblock %}