{% extends 'layout.html' %}

{% block title %}
Wishlist
{% endblock %}

{% block navbar %}
<div class="middle">
    <form>
        <div class="search-bar">
            <input type="text" class="input" placeholder="Search" name="q">
            <button type="submit" class="input">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>
<div class="right">

</div>
{% endblock %}

{% block main_side_bar %}
{% include 'components/sidebar.html' %}
{% endblock %}

{% block main %}
<div class="wishlist">
    <p class="header">Wishlist</p>
    <ul class="list">
        <!-- <li>Your history is empty</li> -->
        {% for i in range(3) %}
        <li>
            <a href="#" class="list-view">
                <img src="https://picsum.photos/{{i * 150}}/{{i * 100}}" class="main-view">
                <table>
                    <tr>
                        <td>
                            Title
                        </td>
                        <td>
                            : Clean Code
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Author
                        </td>
                        <td>
                            : Robert C. Martin
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Language
                        </td>
                        <td>
                            : English
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Pub. Date
                        </td>
                        <td>
                            : June 2018
                        </td>
                    </tr>
                </table>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block sec_side_bar %}
<form class="search-wishlist">
    <div class="search-bar search-sec-bar">
        <input type="text" class="input" placeholder="Search your wishlist" name="q">
        <button type="submit" class="input">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</form>

<p class="header">Wishlist Options</p>
<ul class="list">
    <li>
        <button class="btn btn-sec-red">
            <i class="fa-solid fa-trash"></i> Clear all your wishlist
        </button>
    </li>
</ul>
{% endblock %}